*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;

}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: darksalmon;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover
{
    background-color: #f0932b;
}

.btn-secondary{
    background-color: #FFD700;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover
{
    background-color: #f7b731;
}

.btn-tertiary{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-tertiary:hover
{
    background-color: saddlebrown;
}

.success{
    color: blue;
}

.error{
    color: red;
}

.menu{
    border-bottom: 1px solid black;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

.menu ul li a:hover{
    color: chocolate;
}

.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

.footer{
    background-color: brown;
    color: white;
}

/* CSS for login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
    background-color: white;
    border-radius: 20px;

}